@page
@model IndexModel
@{
    ViewData["Title"] = "Pizza Party Calculator";
}

<h1>Pizza Party Calculator</h1>
<p>Find out how many pizzas you need for your party!</p>

<form method="post">
    <label for="NumberOfGuests">Number of Guests:</label>
    <input type="number" id="NumberOfGuests" name="NumberOfGuests" required min="1" />
    <button type="submit">Calculate</button>
</form>

@if (Model.ShowResult)
{
    <p>For @Model.NumberOfGuests guests, you'll need @Model.PizzasNeeded pizzas.</p>
    <p>That will cost $@Model.TotalCost (at $12.99 per pizza).</p>
}